body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  h1, h2, h3, h4 {
    margin-bottom: 10px;
    color: #060505;
  }
  p {
    margin: 10px 0;
    color: #060505;
  }
  .section {
    margin-bottom: 10px;
  }
  .section-header {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    margin-bottom: 5px;
  }
  .highlight {
    font-weight: bold;
    color: #007bff;
  }
  .user-image {
    max-width: 150px;
    border-radius: 70%;
    margin-bottom: 0px;
  }