body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
  }
  h1, h2, h3, h4 {
    margin-bottom: 10px;
    color: #060505;
  }
  p {
    margin: 10px 0;
    color: #060505;
  }
  .section {
    margin-bottom: 10px;
  }
  .header {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  ul {
    list-style-type:disc;
    padding:0;
    margin-left: 15px;
    line-height: 25px;  }
  ul li {
    margin-bottom: 5px;
  }
  .user-image {
    max-width: 150px;
    height: 175px;
    margin-top: 10px;
    margin-bottom: 0px;
    position:absolute;
    top:50px;
    margin-left: 620px;
  }
  a{
    text-decoration: underline;
    color:black;
    line-height: 27px;
  }
  h5{
    text-align:right;
  }
  h1,h2{
    color:rgb(1, 1, 107);
  }
  h4{
    color:rgba(228, 166, 10, 0.9);
  }